@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
}


@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.animate-zoomIn {
  animation: zoomIn 5s ease-in-out forwards;
}


@font-face {
  font-family: 'Ivar Display Hydro';
  src: url('/fonts/IvarDisplayHydro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-ivar {
  font-family: 'Ivar Display Hydro', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
